.about {
    margin: -40px 20px 0px;
    text-align: justify;
    font-weight: 300;
    line-height: 1.4rem;
    padding: 10px 20px;
    /* background-color: rgb(245, 245, 245); */
}

.about-feedback {
    text-align: center;
    margin: 0px 230px 40px;
    padding: 10px;
    /* border: solid 1px #dedede; */
    border-radius: 8px;
    background-color: #f8f8f8;
}

.about a:link {
    color: #1a73e8;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
}

.about a:visited {
    color: rgb(180, 180, 180);
}