.chapter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; /* along main axis */
  /* align-items: stretch; cross-axis */
  margin-bottom: 3rem;
  padding: 10px;
  /* background-color: violet; */
}

.chapter-contents {
  width: 50%;
  margin: auto 0px;
  /* background-color: springgreen; */
}

.chapter-info {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* width: 100%; */
  /* background-color: rgb(255, 159, 159); */
}

.chapter-title {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: -5px;
  /* background-color: cornflowerblue; */
}

.chapter-text {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.4rem;
  /* background-color: burlywood; */
}

.chapter-apps-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.app-li {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: normal;
}

.chapter-button {
  background-color: red;
  color: white;
  width: 8rem;
  font: 400 1rem Montserrat;
  text-decoration: none;
  text-align: center;
  line-height: 2.4rem;
  border-width: 0px;
  margin-top: 1rem;
}

.chapter-button:hover {
  background-color: rgb(53, 53, 53);
  cursor: pointer;
}

.chapter-image img {
  margin: auto;
  width: 100%;
}
